.menu {
  width: 100%;
}

nav {
  background-color: #6B6B6B;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
  padding: calc(2px + 1vmin);
}

nav a {
  padding-left: calc(6px + 1vmin);
  padding-right: calc(1vmin);
  text-decoration-line: none;
}

nav a:link {
  color: #D9D9D9;
}

nav a:visited {
  color: #D9D9D9;
}

nav a:hover {
  color: white;
}

nav a:active {
  color: #D9D9D9;
}
