.cookie-consent-container {
  margin: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.cookie-consent {
  width: 50%;
  background-color: #3B4526;
  border: 1px solid #272E19;
  border-radius: 3px;
  position: relative;
  right: 5%;
  padding: 0.3em 0.7em 0.1em;
  text-align: center;
}

.cookie-consent-button {
  border: 1px solid #272E19;
  background-color: darkgrey;
  border-radius: 3px;
  margin: 0.5em;
  padding: 0.3em 0.7em;
}
