.menu {
  width: 100%;
}

nav {
  background-color: hsl(0, 0%, 42%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: calc(10px + 1.1vmin);
  padding: calc(2px + 1vmin);
}

nav a {
  padding-left: calc(6px + 1vmin);
  padding-right: calc(1vmin);
  text-decoration-line: none;
}

nav a:link {
  color: hsl(0, 0%, 93%);
}

nav a:visited {
  color: hsl(0, 0%, 93%);
}

nav a:hover {
  color: hsl(29, 100%, 93%);
}

nav a:active {
  color: hsl(0, 0%, 91%);
}
